<div id="profile" class="container">
    <div class="item">
        <input type="text" id="user_input" placeholder="New username">
        <input type="submit" id="user_btn" class="btn user" value="Change username">
    </div>
    <div class="item">
        <input type="text" id="pass_input" placeholder="New password">
        <input type="submit" id="pass_btn" class="btn pass" value="Change password">
    </div>
    <div class="item">
        <input type="text" id="mail_input" placeholder="New mail">
        <input type="submit" id="mail_btn" class="btn mail" value="Change mail">
    </div>
    <div class="item">
        <label for="notif">I want to receive notifications about new comments</label>
        <input type="checkbox" name="notif" id="notif">
    </div>
    <div class="item">
        <input type="submit" id="remind_btn" class="btn remind" value="Remind password">
    </div>
</div>